@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gray-50: #ECEDEE;
  --color-gray-100: #DCDDDE;
  --color-gray-200: #B9BBBE;
  --color-gray-300: #8E9297;
  --color-gray-400: #72767D;
  --color-gray-500: #5C6067;
  --color-gray-600: #464950;
  --color-gray-700: #36393F;
  --color-gray-800: #2F3136;
  --color-gray-900: #202225;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
